@import url('https://rsms.me/inter/inter.css');

:root {
	--font-family: 'Inter', sans-serif;

	--font-size-sm: 0.875rem;
	--font-size-base: 1rem;
	--font-size-md: 1.25rem;
	--font-size-lg: 1.75rem;
	--font-size-xl: 2.5rem;

	--spacing-xs: 0.25rem;
	--spacing-sm: 0.5rem;
	--spacing-md: 1rem;
	--spacing-lg: 2rem;
	--spacing-xl: 3rem;

	--border-slim: 2px;
	--border-thick: 4px;

	--clr-bg: #ffffff;
	--clr-surface: #f2f2f2;
	--clr-text-main: #000000;
	--clr-border: #000000;

	--clr-sea: #1a365d;
	--clr-ship: #718096;
	--clr-hit: #e53e3e;
	--clr-miss: #ecc94b;

	--clr-valid-hover: rgba(0, 0, 0, 0.1);
	--clr-invalid-hover: rgba(229, 62, 62, 0.15);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

button {
	padding: var(--spacing-sm);
	border: var(--border-slim) solid var(--clr-border);
	background-color: var(--clr-bg);
	color: var(--clr-text-main);
	font-weight: 400;
}

button:hover {
	background-color: var(--clr-sea);
	color: var(--clr-bg);
}

body {
	font-family: var(--font-family);
	padding: 1rem;
	min-height: 100vh;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.game-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--spacing-lg);
	margin-bottom: var(--spacing-md);
}

#restart-btn {
	padding: var(--spacing-sm);
	background-color: var(--clr-sea);
	color: var(--clr-bg);
	border: none;
	cursor: pointer;
}

.game-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--spacing-lg);
}

.message-container {
	text-align: center;
	color: var(--clr-text-main);
	font-weight: 700;
	font-size: clamp(var(--font-size-sm), 5vw, var(--font-size-lg));
}

.boards-container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: var(--spacing-xl);
}

.board-section h2 {
	min-height: 3.5rem;
}

.board-section {
	flex: 1;
}

.board {
	max-width: 550px;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	margin-bottom: 20px;
	border: var(--border-thick) solid var(--clr-border);
}

.square {
	aspect-ratio: 1 / 1;
	border: var(--border-slim) solid var(--clr-border);
}

.sea {
	background-color: var(--clr-sea);
}

.ship {
	background-color: var(--clr-ship);
}

.miss {
	background-color: var(--clr-miss);
}

.hit {
	background-color: var(--clr-hit);
}

.hover-valid {
	background-color: var(--clr-valid-hover) !important;
	cursor: pointer;
}

.hover-invalid {
	background-color: var(--clr-invalid-hover) !important;
	cursor: no-drop;
}

#fleet-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: var(--spacing-md);
}

#ship-dock {
	display: flex;
	gap: 15px;
	margin-bottom: 20px;
	cursor: grab;
	user-select: none;
	width: max-content;
}

.ship-segment {
	width: 30px;
	height: 30px;
	background-color: var(--clr-ship);
	border: 1px solid var(--clr-border);
}

.dock-ship:active {
	cursor: grabbing;
}

.hidden {
	display: none !important;
}
